<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuexiang.xhttpapi.mapper.BookMapper" >
  <resultMap id="BaseResultMap" type="com.xuexiang.xhttpapi.model.Book" >
    <id column="book_id" property="bookId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="sales_volume" property="salesVolume" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="mark" property="mark" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from book
    where book_id = #{bookId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xuexiang.xhttpapi.model.Book" >
    insert into book (book_id, name, price, 
      author, sales_volume, score, 
      mark, description)
    values (#{bookId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, 
      #{author,jdbcType=VARCHAR}, #{salesVolume,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}, 
      #{mark,jdbcType=INTEGER}, #{description,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xuexiang.xhttpapi.model.Book" >
    update book
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      author = #{author,jdbcType=VARCHAR},
      sales_volume = #{salesVolume,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      mark = #{mark,jdbcType=INTEGER},
      description = #{description,jdbcType=LONGVARCHAR}
    where book_id = #{bookId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select book_id, name, price, author, sales_volume, score, mark, description
    from book
    where book_id = #{bookId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select book_id, name, price, author, sales_volume, score, mark, description
    from book
  </select>
</mapper>